[project]
	description = Precision motorcontroller
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Klaus Petersen (klauspetersen)
[access "refs/for/refs/*"]
	read = group user/Klaus Petersen (klauspetersen)
	push = group user/Klaus Petersen (klauspetersen)
	label-Code-Review = -2..+2 group user/Klaus Petersen (klauspetersen)
	label-Verified = -1..+1 group user/Klaus Petersen (klauspetersen)
	rebase = group user/Klaus Petersen (klauspetersen)
	removeReviewer = group user/Klaus Petersen (klauspetersen)
	submit = group user/Klaus Petersen (klauspetersen)
[access "refs/heads/*"]
	read = group user/Klaus Petersen (klauspetersen)
	create = group user/Klaus Petersen (klauspetersen)
	push = +force group user/Klaus Petersen (klauspetersen)
	pushMerge = group user/Klaus Petersen (klauspetersen)
[access "refs/tags/*"]
	push = +force group user/Klaus Petersen (klauspetersen)
	pushTag = group user/Klaus Petersen (klauspetersen)
	pushSignedTag = group user/Klaus Petersen (klauspetersen)
